name: test

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  push:

jobs:
  test-io:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: zig build --summary all test
